{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IoT Dasboard</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static 'dashboard/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static 'dashboard/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'dashboard/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Charts styling -->
    <link href="{% static 'dashboard/css/charts.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/navigation.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dashboard/css/customStyles.css' %}" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'dashboard/js/sb-admin.min.js'%}"></script>

    <!-- import D3.js and D3 external libraries -->
    <script src="{% static 'dashboard/d3/d3.min.js' %}"></script>
    <script src="{% static 'dashboard/d3-interpolate-path/d3-interpolate-path.min.js' %}"></script>

    <script src="{% static 'dashboard/scripts/navigation.js' %}"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a class="navbar-brand" href="{% url 'dashboard:index' %}"><h3>IoT Dashboard</h3></a>
                <a class="navbar-brand" href="{% url 'dashboard:index' %}"><i class="fa fa-home fa-3x home"></i></a>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-tachometer icon-margin"></i>
                        Dashboard
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{% url 'dashboard:index' %}">Main Dashboard</a>
                        </li>
                        <!--
                        A for loop will be here later to loop through devices
                        -->
                        <li>
                            <a href="{% url 'dashboard:device' dev_id="00-80-00-00-00-01-1e-d7" %}">Device 1</a>
                        </li>
                        <li>
                            <a href="{% url 'dashboard:device' dev_id="00-80-00-00-00-01-1e-d7" %}">Device 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'dashboard:devices_management' %}">
                        <i class="fa fa-table icon-margin"></i>
                        Device Management
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="container-fluid">
            <!-- Header Bar -->
            <div class="header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <!-- Menu Button -->
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                    </button>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- List of header items -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle header-item" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">New Alerts:</h6>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <span class="text-success">
                                            <strong><i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
                                        </span>
                                        <span class="small float-right text-muted">11:21 AM</span>
                                        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <span class="text-danger">
                                            <strong><i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
                                        </span>
                                        <span class="small float-right text-muted">11:21 AM</span>
                                        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <span class="text-success">
                                            <strong><i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
                                        </span>
                                        <span class="small float-right text-muted">11:21 AM</span>
                                        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item small" href="#">View all alerts</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="header-item">
                                    <i class="fa fa-sign-out"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <!-- Page Content For Different Pages -->
            {% block content %}
            {% endblock %}

        </div>
    </div>
</body>

</html>