{% extends "dashboard/_header_nav.html" %}

{% load static %}

{% block content %}

<div id="device_form" class="form-margin">

<h3>Add Device</h3>

<form action="{% url 'dashboard:add_device' %}" method="post">
    {% csrf_token %}

    {% if error_message %}
        <div class="alert alert-danger">
          <strong>{{ error_message }}</strong>
        </div>
    {% endif %}

    <!-- Device ID -->
    <div class="form-group row">
        <label for="device_id" class="col-sm-2 col-form-label">Device ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="device_id" name="device_id" value="">
        </div>
    </div>

    <!-- Device Name -->
    <div class="form-group row">
        <label for="device_name" class="col-sm-2 col-form-label">Device Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="device_name" name="device_name" value="">
        </div>
    </div>

    <!-- Device GPS Location -->
    <label class="col-form-label">
        GPS Location Coordinates
    </label>
    <div class="form-group row">
        <label for="latitude" class="col-sm-2 col-form-label">Latitude</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="latitude" name="latitude" value="">
        </div>
    </div>
    <div class="form-group row">
        <label for="longitude" class="col-sm-2 col-form-label">Longitude</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="longitude" name="longitude" value="">
        </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary right">Submit</button>
</form>

</div>
{% endblock %}