{% extends "dashboard/_header_nav.html" %}

{% load static %}

{% block content %}
<script>
    var device_id = "{{ device_id }}";
    var whichData = "{{ whichData }}";

    var chart_config = {};
    chart_config = {
        threshold: {{ dev_config.threshold }},
        color: "{{ dev_config.color }}",
        chart_type: "{{ dev_config.chart_type }}",
        timeline: "{{ dev_config.timeline }}",
        show_in_main: true ? "{{ dev_config.show_in_main }}" == "True" : false,
    };

</script>
<script src="{% static 'dashboard/scripts/drawCharts.js' %}"></script>

<div class="container-fluid">
    <!-- Chart filtering/configuration -->
    {% include "dashboard/includes/chart_config.html" %}

    <!-- Chart -->
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="card-header">
                    <h6 class="chart-title"></h6>
                    <div class="form-check show-in-main">
                            <input class="form-check-input" type="checkbox" id="show_in_main"
                                   name="show_in_main" value="{{ whichData }}"
                                   onchange="isChecked(this)">
                            <label class="form-check-label">Show in Main Dashboard</label>

                    </div>
                </div>
                <div class="card-body" id="chart-content">
                    <!-- Chart will be in this <div> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

