{% extends "dashboard/_header_nav.html" %}

{% load static %}

{% block content %}
<script>
    var device_id = "{{ device_id }}";
    var whichData = "{{ whichData }}";
</script>
<script src="{% static 'dashboard/scripts/drawCharts.js' %}"></script>

<div class="content-wrapper" style="overflow: hidden">
    <div class="container-fluid">
        <!-- Chart filtering/configuration -->
        {% include "dashboard/includes/chart_config.html" %}

        <!-- Chart -->
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-3">
                    <div class="card-header">
                        <h6 class="chart-title"></h6>

                        <label style="float: right" class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                        </label>
                        <label style="float: right">Show in Main Dashboard</label>
                    </div>
                    <div class="card-body">
                        <svg></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

