{% extends "dashboard/_header_nav.html" %}

{% load static %}

{% block content %}

<div class="card mb-3">
    <div class="card-header">
        <h3 class="left">Devices</h3>
        <a class="btn btn-primary right"
            href="{% url 'dashboard:add_device' %}">Add</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center" style="width: 20%">Device ID</th>
                        <th class="text-center" style="width: 25%">Device Name</th>
                        <th class="text-center" style="width: 20%">GPS Location</th>
                        <th class="text-center" style="width: 10%">Status</th>
                        <th class="text-center" style="width: 15%">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for device in devices %}
                    <tr>
                        <td>{{ device.device_id }}</td>
                        <td>{{ device.device_name|title }}</td>
                        <td>
                            <b>Lat:</b> {{ device.gps_loc.0 }}</br>
                            <b>Long:</b> {{ device.gps_loc.1 }}
                        </td>
                        {% if device.status == "online" %}
                            <td class="text-success text-center">{{ device.status|title }}</td>
                        {% else %}
                            <td class="text-danger text-center">{{ device.status|title }}</td>
                        {% endif %}
                        <td>
                            <a class="btn btn-primary btn-sm custom-btn-size"
                               href="{% url 'dashboard:update_device' device.device_id %}" role="button">Edit</a>
                            <a class="btn btn-danger btn-sm custom-btn-size"
                               href="{% url 'dashboard:delete_device' device.device_id %}" role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>


{% endblock %}