{% extends "dashboard/_header_nav.html" %}

{% load static %}

{% block content %}
<script>
    // Get device id passed from backend
    var device_id = "{{ device_id }}";

    // Generate dummy url for chart detail page
    var chart_detail_url = "{% url 'dashboard:chart_detail' dev_id=device_id which_data="data" %}"
</script>
<script src="{% static 'dashboard/scripts/displaySingleDeviceCharts.js' %}"></script>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="device-charts"></div>
    </div>
</div>

{% endblock %}