{% extends "dashboard/_header_nav.html" %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    {% for key, value in charts_in_main.items %}
        var device_id = "{{ key }}";
        console.log(device_id);
        console.log("{{ key.value] }}");
        {% for chart_key in value %}
            console.log("{{ chart_key }}");
            //console.log("{{ chart_value }}");
        {% endfor %}

    {% endfor %}
</script>

<div class="container-fluid">
    <!-- First Row-->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div style="border: 1px solid #ccc">
                <div class="dash-unit">
                    <div class="card-header"><a href="{% url 'dashboard:max_vs_min_view' %}">Max vs Min temperature</a></div>
                    <div id="chart-01"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div style="border: 1px solid #ccc">
                <div class="dash-unit">
                    <div class="card-header"><a href="{% url 'dashboard:avg_temp' %}">Average temperature</a></div>
                    <div id="chart-02"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div style="border: 1px solid #ccc">
                <div class="dash-unit">
                    <div class="card-header"><a href="{% url 'dashboard:snowView' %}">Snow Fall with Snow Depth</a></div>
                    <div id="chart-03"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div>
                <div style="border: 1px solid #ccc">
                    <div class="dash-unit">
                        <div class="card-header"><a href="{% url 'dashboard:precipitationView' %}">Precipitation</a></div>
                        <div id="chart-04"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Second row Example-->
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-area-chart"></i><a href="{% url 'dashboard:mapView' %}"> Map</a></div>
                <div id="chart-00" style="width:700px; height:200px"></div>
            </div>
        </div>
        <div style="width: 30%; heigt: 200px">
            <div>
                <div style="border: 1px solid #ccc">
                    <div class="dash-unit">
                        <div class="card-header">Gas Pressure</div>
                        <div id="chart-09"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

