{% extends "dashboard/_header_nav.html" %}

{% load static %}

{% block content %}
<script src="{% static 'dashboard/scripts/drawCharts.js' %}"></script>

<div class="content-wrapper" style="overflow: hidden">
    <div class="container-fluid">
        <!-- Chart filtering/configuration -->
        {% include "dashboard/includes/chart_config.html" %}

        <!-- Chart -->
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-3">
                    <div class="card-header">Temperature</div>
                    <svg></svg>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

