.right {
  float: right;
}

.left {
  float: left;
}

.form-margin {
  margin: 2% 2%;
}

.form-label-margin {
  margin: 20px 0;
}

/** Button size for Edit & Delete in device management **/
.custom-btn-size {
  width: 42%;
  margin: 1% 3%;
}

/** Style the title link in each of the card header **/
.card-header > a {
  color: #4B4545;
}

/* mouse over link */
.card-header > a:hover {
  text-decoration: underline;
}

#map {
  height: 35%;
  width: 100%;
}