<h5>Preferences</h5>
<form action="#">
    {% csrf_token %}
    <div class="form-row form-inline">
        <div class="form-inline col-auto">
            <label for="threshold">Threshold: </label>
            <input id="threshold" type="number" name="threshold"
                   class="form-control margin-10 threshold-textbox"
                   min="0" max="100" value="30">
        </div>

        <div class="form-inline col-auto">
            <label for="colors">Color: </label>
            <select id="colors" name="colors" class="form-control margin-10"
                    onchange="changeColor(event)">
                {% for color in colorList %}
                    <option value="{{ color|cut:" " }}">{{ color|title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-inline col-auto">
            <label for="charts-type">Chart Type: </label>
            <select id="charts-type" name="charts-type" class="form-control margin-10">
                <option value="bar">Bar Chart</option>
                <option value="line">Line Chart</option>
                <option value="pie">Pie Chart</option>
                <option value="scatterplot">Scatter Plot</option>
                <option value="histogram">Histogram</option>
            </select>
        </div>

        <div class="form-inline col-auto">
            <label for="datetime">DateTime: </label>
            <select id="datetime" name="datetime" class="form-control margin-10"
                    onchange="changeTimeline(event)">
                <option value="" selected>- Select DateTime -</option>
                <option value="today">Today</option>
                <option value="last3Days">Last 3 Days</option>
                <option value="last7Days">Last 7 Days</option>
                <option value="thisMonth">This Month</option>
                <option value="thisYear">This Year</option>
            </select>
        </div>

        <div class="col-auto">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>