<form action="#">
    <div class="row" style="padding: 0 0 20px 0;">
        <div class="col-md-3 padding-right-0">
            <label for="threshold">Set Threshold: </label>
            <input id="threshold" type="number" name="threshold" class="threshold-text-box" min="0" max="100" value="30">
        </div>

        <div class="col-md-2 padding-0">
            <label for="colors">Color: </label>
            <select id="colors" name="colors" onchange="changeColor(event)">
                <option value="blue" selected>Blue</option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
                <option value="orange">Orange</option>
            </select>
        </div>

        <div class="col-md-3 padding-0">
            <label for="charts-type">Chart Type: </label>
            <select id="charts-type" name="charts-type">
                <option value="bar">Bar Chart</option>
                <option value="line">Line Chart</option>
                <option value="pie">Pie Chart</option>
                <option value="scatterplot">Scatter Plot</option>
                <option value="histogram">Histogram</option>
            </select>
        </div>

        <div class="col-md-3 padding-0">
            <label for="view-by">DateTime: </label>
            <select id="view-by" name="view-by" onchange="changeTimeline(event)">
                <option value="" selected>- Select DateTime -</option>
                <option value="today">Today</option>
                <option value="last7Days">Last 7 Days</option>
                <option value="thisMonth">This Month</option>
                <option value="thisYear">This Year</option>
            </select>
        </div>

        <div class="col-md-1 padding-0">
            <button class="btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>