<h5>Preferences</h5>
<form action="#">
    {% csrf_token %}
    <div class="form-row form-inline">
        <!-- Threshold -->
        <div class="form-inline col-auto">
            <label for="threshold">Threshold: </label>
            <input id="threshold" type="number" name="threshold"
                   class="form-control margin-10 threshold-textbox"
                   min="0" max="100" value="30" onchange="changeThreshold(event)">
        </div>

        <!-- Color -->
        <div class="form-inline col-auto">
            <label for="colors">Color: </label>
            <select id="colors" name="colors" class="form-control margin-10"
                    onchange="changeColor(event)">
                {% for color in colorList %}
                    <option value="{{ color|cut:" " }}">{{ color|title }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Chart Type -->
        <div class="form-inline col-auto">
            <label for="charts-type">Chart Type: </label>
            <select id="charts-type" name="charts-type" class="form-control margin-10">
                {% for chartType in chartTypeList %}
                    <option value="{{ chartType|cut:" " }}">{{ chartType|title }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Timeline -->
        <div class="form-inline col-auto">
            <label for="datetime">Timeline: </label>
            <select id="datetime" name="datetime" class="form-control margin-10"
                    onchange="changeTimeline(event)">
                {% for timeline in timelineList %}
                    <option value="{{ timeline|cut:" " }}">{{ timeline|title }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Save button -->
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>